*{
    padding: 0;
    margin: 0;
    font-size: 13px;
    }
    $primary-color: rgb(245, 222, 239);
    $secundary-color: rgb(219, 105, 221);
    /*BODY*/
    body{background-color: $secundary-color;
        

      
      header{
        background-color: $primary-color;
        
      

        nav{
            padding: 16px;

            ul{
                list-style: circle;
                li{
                    text-decoration: underline;

                }
            }
        }
      }
      
      main{}  
      footer{background-color: $primary-color;}

      
    }

    a{
      color:white;
     background-color: rgba(244, 165, 29, 0.456);
     border: 1px solid rgb(0, 0, 0);
     border-radius: 10px;
    text-decoration: underline;}

    /*HEADER*/
    
    
    /*MAIN*/
    /*FOOTER*/
    /**/
